<div>
    <h4><%= item.title %></h4>
    <p><%=item.price_from %></p>
    <p><%=item.price_to %></p>
    <p><%=item.price_save %></p>
    <p><%=item.image_url %></p>
    <p><%=item.description %></p>


    <td><%= button_to "Add to Cart", order_items_path(item_id: item.id) %></td>
</div>