<div id="items_ground">
    <h5 class="pimage"><%= image_tag "items/#{item.image_url}" %></h5>
    <div class="leftdetails">
    <h3><%= item.title %></h3>
    <h5 class=""><%=item.description %></h5>
    <h4 class="p_from"><%= print_price(item.price_from) %></h4>
    <h4 class="p_to"><%= print_price(item.price_to) %></h4>
    <h4 class="p_save"><h7>save</h7><%= print_price(item.price_save) %></h4>
            </div>
        <div class="rightdetails">

<% if logged_in? %>
   <%= link_to 'Delete', product_item_path(@product,item), method: :delete%>

<% end %>

   <%= button_to "BUY", order_items_path(item_id: item.id) %>
    </div>
</div>