<p id="notice"><%= notice %></p>
   <% content_for :menu do %>
       <% @products.each do |product| %>
      <tr>
          <td><h1><%=link_to product.title, product %></h1></td>
      </tr>
    <% end %>
    <% end %>

<h3>Items (<%= @product.items.size %>)</h3>

<%= render partial: 'products/item', collection: @product.items %>
<div class="form">
<%= render partial: 'items/form' %>
</div>
<!--
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
-->
