<!DOCTYPE html>
<html>
<head>
  <title>Rupuclone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
     <% if content_for? :menu %>
      <nav>
        <%= yield :menu %>
      </nav>
    <% end %>        
    </header>
   
 <main>
    <% content_for(:banner) do %>    
    <% end %>
    
    
    </main>
    
<%= yield %>
</body>
</html>
